<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="/css/search.css" rel="stylesheet">

</head>
<!-- view return : summonerInfo, summonerLeagueInfo, matchDetailInfo, matchRecentInfo -->

<body>
  <!-- 로딩 화면 -->
  <div class="loader">
  </div>

  <div class="container-fluid d-flex justify-content-center" id="cover-con">
    <div class="container-fluid d-flex flex-column m-5" id="left-con">
      <!-- 소환사 정보 -->
      <div class="d-flex m-3" id="summoner-con">
        <div class="m-1">
          <img alt="summoner-icon" class="summoner-img">
        </div>
        <div class="m-3 d-flex h-con">          
          <h3 class="summoner-name"></h3>          
        </div>
      </div>

      <!-- 소환사 티어 정보 -->
      <div class="d-flex flex-column m-3" id="league-con">
        <div class="m-1 d-flex h-con">
          <h3>솔로 랭크</h3>
        </div>
        <div class="m-1 d-flex">
          <div class="m-1">
            <img alt="tier-icon" class="summonerLeagueInfo-img">
          </div>
          <div class="m-1">
            <p class="summonerLeagueInfo-tierRank"></p>
            <p class="summonerLeagueInfo-points"></p>
            <p class="summonerLeagueInfo-winlose"></p>            
          </div>
      </div>
    </div>

    <!-- 최근 20게임 통계 -->
    <div class="d-flex flex-column m-3" id="detail-con">
      <div class="m-2 d-flex h-con">
        <h3> 최근 20게임 챔피언 통계</h3>
      </div>
      <div class="detail-item d-flex m-3">
        <div class="m-2">
          <img class="matchRenectInfo-imgURL">
        </div>
        <div class="m-2">
          <p class="matchRecentInfo-name"></p>
          <p class="matchRecentInfo-data-total"></p>
        </div>
        <div class="m-2 kdatext-con">
          <p class="matchRecentInfo-data-percent">
          <p class="kda-text matchRecentInfo-data-kdaCalculate"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- right con -->
  <div class="container-fluid d-flex m-2" id="right-con">
    <!-- 최근 전적 -->
    <div class="d-flex flex-column" id="recent-con">
      <div class="recent-detail-con d-flex m-1">
        <div class="m-1">
          <img class="matchDetailInfo-imgURL" alt="detail-champion-icon">
        </div>
        <div class="m-1 winfalse-con">
          <h3 class="winfalse-text matchDetailInfo-win"></h3>
        </div>
        <div class="m-1 kdatext-con">
          <p class="kda-text matchDetailInfo-kdaDecimal"></p>
          <p class="kda-text2 matchDetailInfo-killdeathassists"></p>
        </div>
        <div class="m-1 cs-con">
          <p class="minionspercent-text matchDetailInfo-minPerMinions"></p>
          <p class="totalminions-text matchDetailInfo-totalMinions"></p>
        </div>
        <div class="m-1 playtime-con">
          <p class="playtime-text matchDetailInfo-playTime"></p>
          <p class="playtime-text matchDetailInfo-playDate"></p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="/js/search.js"></script>
</body>

</html>